Repository redhat-cop/casl-ansible, pull requests merged in 2018-02, with the labels that each got.

#170 Adding a WIP role for managing Azure infrastructure for OpenShift usi…
  roles/manage-azure-infra/README.md
  roles/manage-azure-infra/defaults/main.yml
  roles/manage-azure-infra/handlers/main.yml
  roles/manage-azure-infra/meta/main.yml
  roles/manage-azure-infra/tasks/generate-templates.yml
  roles/manage-azure-infra/tasks/main.yml
  roles/manage-azure-infra/templates/azuredeploy.json.j2
  roles/manage-azure-infra/tests/inventory
  roles/manage-azure-infra/tests/test.yml
  roles/manage-azure-infra/vars/main.yml
Labels: Azure, enhancement

#174 Azure playbook and inventory
  inventory/sample.azure.example.com.d/inventory/group_vars/OSEv3.yml
  inventory/sample.azure.example.com.d/inventory/group_vars/all.yml
  inventory/sample.azure.example.com.d/inventory/host_vars/localhost
  inventory/sample.azure.example.com.d/inventory/hosts
  playbooks/openshift/delete-azure.yml
  playbooks/openshift/delete-cluster.yml
  playbooks/openshift/provision-azure.yml
  playbooks/openshift/provision-instances.yml
  playbooks/openshift/start-azure.yml
  playbooks/openshift/start-cluster.yml
  playbooks/openshift/stop-azure.yml
  playbooks/openshift/stop-cluster.yml
Labels: Azure, enhancement

#155 Adding pre/post steps for openshift-applier
  inventory/sample.osp.example.com.d/files/galaxy_requirements.yml
  inventory/sample.osp.example.com.d/inventory/group_vars/seed-hosts.yml
  roles/openshift-applier/README.md
  roles/openshift-applier/handlers/main.yml
  roles/openshift-applier/tasks/install-dependencies.yml
  roles/openshift-applier/tasks/main.yml
  roles/openshift-applier/tasks/pre-post-step.yml
  roles/openshift-applier/tasks/process-content.yml
  roles/openshift-applier/tasks/process-one-entry.yml
  roles/openshift-applier/tests/README.md
  roles/openshift-labels/tasks/main.yml
Labels: enhancement, openshift-applier

#179 Fixing issue where multiple nodes of each type couldn't be created.
  roles/manage-azure-infra/tasks/provision-resources.yml
Labels: Azure, enhancement

#178 Updating default file/template actions
  roles/openshift-applier/defaults/main.yml
  roles/openshift-applier/tasks/process-one-entry.yml
Labels: bug, openshift-applier

#181 Merge fix for display name of tasks
  roles/openshift-applier/tasks/process-one-entry.yml
Labels: bug, openshift-applier

#172 Improved URL checking for openshift-applier
  roles/openshift-applier/tasks/check-file-location.yml
Labels: bug, openshift-applier

#167 Previous ignore_errors statement didn't work; fixing.
  roles/openshift-applier/tasks/process-content.yml
Labels: bug, openshift-applier

#168 fix dup registry on OSP
  docs/PROVISIONING_OPENSTACK.md
  inventory/sample.osp.example.com.d/inventory/group_vars/all.yml
  playbooks/openshift/cinder-registry.yml
  playbooks/openshift/post-provision-openstack.yml
Labels: OpenStack, bug

#183 Adding the "make-*-unique" role to this repo
  roles/make-applier-projects-unique/filter_plugins/filters.py
  roles/make-applier-projects-unique/tasks/generic-regex-replace.yml
  roles/make-applier-projects-unique/tasks/main.yml
  roles/make-applier-projects-unique/tasks/update-params-file.yml
Labels: enhancement, openshift-applier

#185 Chaning failed_when logic so it only ignores 'NotFound' errors when *…
  roles/openshift-applier/tasks/process-one-entry.yml
Labels: bug, openshift-applier
