Repository redhat-cop/casl-ansible, pull requests merged in 2018-03, with the labels that each got.

#201 Add deletion of Cinder Registry
  playbooks/openshift/delete-openstack.yml
Labels: OpenStack

#205 Moving OSP client to OSP12 version
  images/installer-openstack/Dockerfile
Labels: OpenStack

#203 Better support of multiple DNS servers
  ansible.cfg
  inventory/sample.osp.example.com.d/inventory/group_vars/all.yml
  playbooks/openshift/aws/delete.yml
  playbooks/openshift/aws/provision.yml
  playbooks/openshift/aws/roles
  playbooks/openshift/aws/start.yml
  playbooks/openshift/aws/stop.yml
  playbooks/openshift/delete-cluster.yml
  playbooks/openshift/openstack/cinder-registry.yml
  playbooks/openshift/openstack/delete.yml
  playbooks/openshift/openstack/dns-records.yml
  playbooks/openshift/openstack/dns.yml
  playbooks/openshift/openstack/post-provision.yml
  playbooks/openshift/openstack/provision.yml
  playbooks/openshift/openstack/roles
  playbooks/openshift/post-provision-openstack.yml
  playbooks/openshift/prep-inventory.yml
  playbooks/openshift/provision-instances.yml
  playbooks/openshift/start-cluster.yml
  playbooks/openshift/stop-cluster.yml
Labels: OpenStack, enhancement

#204 Unique galaxy
  roles/make-applier-projects-unique/tasks/main.yml
  roles/make-applier-projects-unique/tasks/param-file-regex-replace.yml
  roles/make-applier-projects-unique/tasks/update-galaxy-requirements.yml
  roles/make-applier-projects-unique/tasks/update-params-file.yml
  roles/openshift-applier/tasks/main.yml
  roles/openshift-applier/tasks/process-content.yml
  roles/openshift-applier/tasks/process-one-entry.yml
Labels: enhancement, openshift-applier

#198 Add support for applying templates with a directory of parameter files
  roles/openshift-applier/tasks/process-one-entry.yml
Labels: enhancement, openshift-applier

#215 Adding a temporary fix for OCP 3.7 re: docker version
  inventory/sample.aws.example.com.d/inventory/group_vars/all.yml
  inventory/sample.osp.example.com.d/inventory/group_vars/all.yml
  playbooks/openshift/pre-install.yml
  roles/docker-fix-37/defaults/main.yml
  roles/docker-fix-37/handlers/main.yml
  roles/docker-fix-37/tasks/main.yml
  roles/docker-fix-37/templates/docker-storage-setup-dm.j2
Labels: AWS, OpenStack, enhancement

#218 Updating dynamic inventory scripts
  inventory/s1-ha.osp.example.com.d/inventory/openstack.py
  inventory/sample.aws.example.com.d/inventory/ec2.py
  inventory/sample.osp.example.com.d/inventory/openstack.py
  inventory/scripts/ec2.py
  inventory/scripts/openstack.py
  playbooks/openshift/openstack/provision.yml
Labels: AWS, OpenStack

#212 Support for Google Container Platform (GCP)
  .gitignore
  README.md
  docs/PROVISIONING_GCP.md
  docs/media/OSE-on-GCE-Architecture-v0.3.png
  inventory/s1-ha.osp.example.com.d/inventory/group_vars/all.yml
  inventory/sample.aws.example.com.d/inventory/group_vars/all.yml
  inventory/sample.gcp.example.com.d/inventory/clouds.yml
  inventory/sample.gcp.example.com.d/inventory/gce.ini
  inventory/sample.gcp.example.com.d/inventory/gce.py
  inventory/sample.gcp.example.com.d/inventory/group_vars/OSEv3.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/all.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/infra_hosts.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/masters.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/nodes.yaml
  inventory/sample.gcp.example.com.d/inventory/host_vars/localhost
  inventory/sample.gcp.example.com.d/inventory/hosts
  inventory/sample.osp.example.com.d/inventory/group_vars/all.yml
  playbooks/openshift/delete-cluster.yml
  playbooks/openshift/gcp/configure-registry.yml
  playbooks/openshift/gcp/delete.yml
  playbooks/openshift/gcp/post-install.yml
  playbooks/openshift/gcp/provision.yml
  playbooks/openshift/gcp/roles
  playbooks/openshift/post-install.yml
  playbooks/openshift/provision-instances.yml
  roles/manage-gcp-infra/defaults/main.yml
  roles/manage-gcp-infra/handlers/main.yml
  roles/manage-gcp-infra/tasks/add-dns-entries.yml
  roles/manage-gcp-infra/tasks/cleanup.yml
  roles/manage-gcp-infra/tasks/configure-registry-object-storage.yml
  roles/manage-gcp-infra/tasks/create-infrastructure.yml
  roles/manage-gcp-infra/tasks/main.yml
  roles/manage-gcp-infra/tasks/set-post-provisioning-facts.yml
  roles/manage-gcp-infra/templates/openshift-gcloud.yaml.j2
  roles/manage-gcp-infra/templates/openshift-gcloud2.yaml.j2
  roles/manage-gcp-infra/vars/main.yaml
  roles/openshift-applier/README.md
Labels: Google Cloud Platform, enhancement

#220 Updating CASL to use OCP v3.9
  casl-requirements.yml
  inventory/s1-ha.osp.example.com.d/inventory/group_vars/all.yml
  inventory/sample.aws.example.com.d/inventory/group_vars/all.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/all.yml
  inventory/sample.osp.example.com.d/inventory/group_vars/OSEv3.yml
  inventory/sample.osp.example.com.d/inventory/group_vars/all.yml
  playbooks/openshift/install.yml
Labels: AWS, Google Cloud Platform, OpenStack, enhancement
