Repository redhat-cop/casl-ansible, pull requests merged in 2018-04, with the labels that each got.

#221 Minor restructure of OSP playbooks
  playbooks/openshift/openstack/post-provision.yml
  playbooks/openshift/openstack/provision.yml
Labels: OpenStack

#222 added support for gcp managed instances
  inventory/sample.gcp.example.com.d/inventory/group_vars/infra_hosts.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/masters.yml
  inventory/sample.gcp.example.com.d/inventory/group_vars/nodes.yaml
  inventory/sample.gcp.example.com.d/inventory/hosts
  roles/manage-gcp-infra/defaults/main.yml
  roles/manage-gcp-infra/tasks/add-dns-entries.yml
  roles/manage-gcp-infra/tasks/cleanup.yml
  roles/manage-gcp-infra/tasks/create-infrastructure.yml
  roles/manage-gcp-infra/templates/openshift-gcloud.yaml.j2
  roles/manage-gcp-infra/templates/openshift-gcloud2.yaml.j2
Labels: Google Cloud Platform

#211 Starting to document architecture and contribution instructions
  README.md
  docs/CONTRIBUTE_PROVISIONER.md
  docs/PROVISIONING_ARCH.md
Labels: AWS, Azure, Google Cloud Platform, OpenStack

#229 Aligning docker storage setup with 'openshift-ansible'
  playbooks/openshift/pre-install.yml
  playbooks/openshift/prep-inventory.yml
  roles/docker-fix-37/defaults/main.yml
  roles/docker-fix-37/handlers/main.yml
  roles/docker-fix-37/tasks/main.yml
  roles/docker-fix-37/templates/docker-storage-setup-dm.j2
Labels: AWS, Azure, Google Cloud Platform, OpenStack
